.list-group-item:hover {
    color: rgb(12,102,48);
    cursor: pointer;
}
.bg-success {
    background-color: rgb(12,102,48)!important;
}

.list-group-item{
    background-color: #EFE9E4;
  }

  body{
    background-color: #EFE9E4;
  }
  
