
a {
    text-decoration: none;
    color:#0C6630;
    transition: color 0.2s;
    cursor: pointer;
}

a:hover {
    color:#139246;
}

body{
    background-color: #EFE9E4;
  }

.list-group-item{
    background-color: #EFE9E4;
  }
