html {
  background-color: rgb(239, 233, 228);
}
header {
  grid-area: header;
  display: flex;
  /* background-color: rgb(26, 26, 26); */
  padding: 10px;
  align-items: center;
  color:rgb(119, 119, 119);
}

header section {
  width: 100%;
  text-align: center;
}

header img {
  width: 190px;
  margin: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 200px 70% auto;
  grid-template-areas:
    "header header header"
    "esquerda main direita"
    "footer footer footer";
}

a {
  color: aqua;
}

#esquerda a {
  color: rgb(239, 233, 228);
}

#esquerda section{
  text-decoration: underline;

}

#esquerda {
  flex-direction: column;
  grid-area: esquerda;
  background-color: rgb(12, 102, 48);   
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color:rgb(239, 233, 228);
  width: auto;
  line-height: 1.6;
  text-align: left;
}

#direita {
  grid-area: direita;
  border: 2px solid rgb(12, 102, 48);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#direita a {
  color: rgb(12, 102, 48);
}

main {
  grid-area: main;
  height: auto;
  color: #333333;
  background-color: rgb(239, 233, 228);
  padding: 10px;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto; 
}

footer {
  grid-area: footer;
  background-color: rgb(12, 102, 48);
  display: flex;
  padding-right: 30px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:rgb(239, 233, 228);
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: orangered;
  color:rgb(239, 233, 228);
}

body table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
